html{
    background-image: url("chatbot_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  body {
    justify-content: center;
    display: flex;
    font-size: 20px;
}

text {
    text-align: center;
    color: white;
    background-color: grey;
}

#chatbox {
    scroll-behavior: smooth;
    color: white;
    margin-top: 10%;
    font-family: Arial;
    text-align: center;
    display: inline-block;
}

button {
    background: white;
    border-style: solid;
    border-radius: 4px;
    border-color: white;
    cursor: pointer;
    text-align: center;
}

#time_input::placeholder{
    color: white;
}

#daily_task_input {
    text-align: center;
    background-color: blue;
}

#weekly_task_input {
    text-align: center;
    background-color: blue;
}

#long_task_input {
    text-align: center;
    background-color: blue;
}

#time_input {
    text-align: center;
    background-color: blue;
}

.bot_text {
    /* font-size: 3px; */
    /* padding: 5px; */
    margin-right: 20px;
    text-align: left;
    color: black;
    /* border-radius: 8px; */
    margin-right: 10px;
    /* border-radius: 20px;
    border-color: lightskyblue;
    border-style: solid; */
    animation: floatup .5s forwards;
    clear: both;
}

.bot_text span {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}

.human_text{
        /* font-size: 3px; */
        /* padding: 5px; */
        text-align: right;
        color: white;
        border-radius: 8px;
        /* margin-left: 10px; */
        /* border-radius: 20px;
        border-color: lightskyblue;
        border-style: solid; */
        animation: floatup .5s forwards;
        clear: both;
}

.human_text span{
    background-color: rgb(42, 42, 255);
    border-radius: 8px;
    padding: 5px;
}

/* #bot_time_setter{
    background-color: rgb(42, 42, 255);
} */

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}